<div>
  <button id="menu-toggle">☰</button>
</div>
<nav id="mobile-menu">
  <ul>
    <li><a href="index.html"><i><b>Aria Amore Home</b></i></a></li>
    <li> <a href="services.html" ><i><b>What We Offer</b></i></a></li>
    <li><a href="artists.html"><i><b>Meet The Artists</b></i></a></li>
    <li><a href="contact.html"><i><b>Contact Us</b></i></a>
    </li>
  </ul>
</nav>
<body>
  <div class="navigation">
    <a href="index.html"><i><b>Aria Amore Home</b></i></a>
    <a href="services.html" ><i><b>What We Offer</b></i></a>
    <a href="artists.html"><i><b>Meet The Artists</b></i></a>
    <a href="contact.html"><i><b>Contact Us</b></i></a>
  </div>